{% extends "layout.html" %} {% block content %}
<link href="https://fonts.googleapis.com/css?family=Alex+Brush|Roboto&display=swap" rel="stylesheet">



<div class="container">
    <h4 class="text-center">
        Please fill the following Member Details
    </h4>
    <form class="form-horizontal" method="POST" action="/addmember">

        <div class="form-group">
            <label for="inputID" class="col-sm-2 control-label">Unique ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="inputID" placeholder="Unique ID">
            </div>
        </div>

        <div class="form-group">
            <label for="inputMember" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="inputName" placeholder="Full Name">
            </div>
        </div>

        <div class="form-group">
            <label for="inputAge" class="col-sm-2 control-label">Age</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="inputAge" placeholder="Age">
            </div>
        </div>

        <div>
            Choose a Event
            <SELECT name="inputEvent">
                {% for e in eventList %}
                    <OPTION value={{e}}>{{e}}</option>
                {% endfor %}
                </SELECT>
        </div>
        <h5 class="text-center">
            <p>{{ message[0] }}</p>
        </h5>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Click to start Facial Recognition</button>
            </div>
        </div>

    </form>
</div>



{% endblock %}